{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Chart.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/pure-min.css' %}"/>
{% endblock stylesheets %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock javascript %}

{% block content %}
<div style="display: flex;min-height: 100vh;max-height: 100vh;">
    <div style="flex: 9;">
        <canvas id="push_up_factory_stats_canvas"></canvas>
    </div>
    <div style="flex: 3;border-left: 1px solid #ccc;min-height: 100vh;">
        <h3 style="text-align: center;border-bottom: 1px solid #ccc;padding-bottom: 20px;">Options</h3>
        <div style="margin: 10px;">
            <form class="pure-form" method="POST" action="/render/team/{{team_id}}/">
                {% csrf_token %}
                <fieldset>
                    <div class="pure-control-group">
                        <label for="workout_type_id">Workout type</label>
                        {{workout_type_id}}
                        <select id="workout_type_id" name="workout_type_id">
                            {% for workout_type in workout_types %}
                                <option{% if workout_type_id == workout_type.pk %} SELECTED="SELECTED"{% endif %} value="{{workout_type.pk}}">{{workout_type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="pure-control-group">
                        <label for="start_date">Start date</label>
                        <input type="date" name="start_date" id="start_date" style="width: 100%" value="{{start_date}}"/>
                    </div>
                    <div class="pure-control-group" style="margin-top: 20px;">
                        <label for="end_date">End date</label>
                        <input type="date" name="end_date" id="end_date" style="width: 100%" {% if end_date != None %}value="{{end_date}}"{% endif %}/>
                    </div>
                    <div class="pure-control-group" style="margin-top: 20px;">
                        <label for="show_daily_totals"><input type="checkbox" {% if show_daily_totals is True %} CHECKED="CHECKED"{% endif %} id="show_daily_totals" name="show_daily_totals"><span style="margin-left: 10px;">Show daily totals</span></label>
                    </div>
                </fieldset>
                <input type="submit" class="pure-button pure-button-primary" value="Refresh">
            </form>
        </div>
    </div>
</div>

    <script type="text/javascript">
        {% autoescape off %}
        window.chartColors = ['rgb(255, 99, 132)', 'rgb(255, 159, 64)', 'rgb(255, 205, 86)', 'rgb(75, 192, 192)', 'rgb(54, 162, 235)', 'rgb(153, 102, 255)', 'rgb(201, 203, 207)'];

        var config = {
            type: 'line',
            data: {
                labels: {{timestamps}},
                datasets: [
                {% for user_id, data in team_members.items %}
                    {label: '{{data.name}}', backgroundColor: window.chartColors[{{user_id}}], borderColor: window.chartColors[{{user_id}}], data: [{% for data_point in data.data %}{% if data_point is None %}null{% else %}{{data_point}}{% endif %},{% endfor %}], fill: false},
                {% endfor %}
                ]
            },
            options: {
                spanGaps: true,
                responsive: true,
                title: {
                    display: true,
                    text: 'Push-up Factory Stats'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Reps'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById('push_up_factory_stats_canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };

        {% endautoescape %}
    </script>
{% endblock content %}